<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.xin.myblog.dao.TypeMapper">
    <sql id="selectFields">
        id, name
    </sql>
    <sql id="insertFields">
        name
    </sql>

    <select id="selectTypeByPage" resultType="Type">
        SELECT <include refid="selectFields"/>
        FROM t_type
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectAllType" resultType="Type">
        SELECT <include refid="selectFields"/>
        FROM t_type
    </select>

    <select id="selectTypeById" resultType="Type">
        SELECT <include refid="selectFields"/>
        FROM t_type
        WHERE id = #{id}
    </select>

    <select id="selectTypeRows" resultType="Integer">
        SELECT COUNT(id)
        FROM t_type
    </select>

    <select id="selectTypeByName" resultType="Type">
        SELECT <include refid="selectFields"/>
        FROM t_type
        WHERE name = #{name}
    </select>

    <insert id="insertType" parameterType="Type" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_type(name)
        VALUES(#{name})
    </insert>

    <update id="updateType">
        UPDATE t_type
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <delete id="deleteType">
        DELETE
        FROM t_type
        WHERE id = #{id}
    </delete>

    <select id="selectTypeIdMost" resultType="int">
        SELECT type_id
        FROM t_blog
        WHERE published = true
        GROUP BY type_id
        ORDER BY COUNT(type_id) DESC
        LIMIT #{offset}, #{limit}
    </select>

    <select id="selectTypeNumberByTypeId" resultType="int">
        SELECT COUNT(type_id)
        FROM t_blog
        WHERE type_id = #{id}
        AND published = true
    </select>
</mapper>