<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.xin.myblog.dao.TagMapper">
    <sql id="selectFields">
        id, name
    </sql>
    <sql id="insertFields">
        name
    </sql>

    <select id="selectTagByPage" resultType="Tag">
        SELECT <include refid="selectFields"/>
        FROM t_tag
        limit #{offset}, #{limit}
    </select>

    <select id="selectAllTag" resultType="Tag">
        SELECT <include refid="selectFields"/>
        FROM t_tag
    </select>

    <select id="selectTagById" resultType="Tag">
        SELECT <include refid="selectFields"/>
        FROM t_tag
        WHERE id = #{id}
    </select>

    <select id="selectTagRows" resultType="int">
        SELECT COUNT(id)
        FROM t_tag
    </select>

    <select id="selectTagByName" resultType="Tag">
        SELECT <include refid="selectFields"/>
        FROM t_tag
        WHERE name = #{name}
    </select>

    <select id="selectTagIdMost" resultType="Long">
        SELECT tag_id
        FROM t_tag_blog
        INNER JOIN t_blog
        ON t_tag_blog.blog_id = t_blog.id
        WHERE t_blog.published = true
        GROUP BY tag_id
        ORDER BY COUNT(tag_id) DESC
        LIMIT #{offset}, #{limit}
    </select>

    <insert id="insertTag" parameterType="Tag" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_tag(name)
        VALUES(#{name})
    </insert>

    <update id="updateTag">
        UPDATE t_tag
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <delete id="deleteTag">
        DELETE
        FROM t_tag
        WHERE id = #{id}
    </delete>

    <select id="selectTagNumberByTagId" resultType="int">
        SELECT COUNT(tag_id)
        FROM t_tag_blog
        INNER JOIN t_blog
        ON t_tag_blog.blog_id = t_blog.id
        WHERE tag_id = #{id}
        AND published = true
        GROUP BY tag_id
    </select>
</mapper>