*{
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 20px;margin-right: 10px;
    background-color:white;
}
li:nth-child(1){
    background-color:#fc5a5a;
    animation: love1 4s infinite;
}
li:nth-chiLd(2){
    background-color: #3ef556;
    animation: love2 4s infinite;
    animation-delay:0.15s;
}
li:nth-chiLd(3){
    background-color: #fdfd23;
    animation: love3 4s infinite;
    animation-delay:0.30s;
}
li:nth-chiLd(4){
    background-color: #fde2fe;
    animation: love4 4s infinite;
    animation-delay:0.45s;
}
li:nth-chiLd(5){
    background-color: #fa7af8;
    animation: love5 4s infinite;
    animation-delay:0.60s;
}
li:nth-chiLd(6){
    background-color: #a06ff9;
    animation: love4 4s infinite;
    animation-delay:0.75s;
}
li:nth-chiLd(7){
    background-color: #28e2ff;
    animation: love3 4s infinite;
    animation-delay:0.90s;
}
li:nth-chiLd(8){
    background-color: #fdd661;
    animation: love2 4s infinite;
    animation-delay:1.05s;
}
li:nth-chiLd(9){
    background-color: #7bfee0;
    animation: love1 4s infinite;
    animation-delay:1.20s;
}
@keyframes love1{
    30%,50%{height: 60px;transform: translateY(-30px);}
    75%,100%{height: 20px;transform: translateY(0);}
}
@keyframes love2{
    30%,50%{height: 125px ;transform: translateY(-62.5px);}
    75%,100%{height: 20px;transform: translateY(0);}
}
@keyframes love3{
    30%,50%{height: 160px;transform: translateY(-75px);}
    75%,100%{height: 20px;transform: translateY(0);}
}
@keyframes love4{
    30%,50%{height: 180px;transform: translateY(-60px);}
    75%,100%{height: 20px;transform: translateY(0);}
}
@keyframes love5{
    30%,50%{height: 190px;transform: translateY(-45px);}
    75%,100%{height: 20px ;transform: translateY(0);}
}